// Assigns font sizes to body tags, h1 tags inside body, and h1 tags with .smaller class inside body
body {
    font-size: 14px;

    h1 {
      font-size: 16px;

      &.smaller {
        font-size: 12px;
      }
    }
  }
